<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.spring.mildware.rdbms.sharding.mybatis.mapper.TbOrderMapper">

    <resultMap id="orderResultMap" type="com.zy.spring.mildware.rdbms.sharding.mybatis.entity.TbOrder">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_name" property="orderName"/>
    </resultMap>

    <select id="selectOrders" resultMap="orderResultMap">
        select id, order_id, order_name
        from tb_order;
    </select>

    <select id="selectOrderById" resultMap="orderResultMap">
        select id, order_id, order_name
        from tb_order
        where order_id=#{orderId};
    </select>

    <insert id="insert" useGeneratedKeys="true" >
        insert into tb_order
        (order_name)
        values (#{orderName});
    </insert>
</mapper>